<nav class="navbar navbar-dark bg-primary fixed-top">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <div class="container-fluid">
    <a class="navbar-brand text-dark" href="#">Offcanvas navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="TrashTec text-dark" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link text-dark active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-dark" href="#">Action</a></li>
              <li><a class="dropdown-item text-dark" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-dark" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>

        <!-- Mostrar el nombre de usuario si está disponible -->
        <div *ngIf="nombreusuario" class="navbar-text text-dark">
          <i class="bi bi-person-circle fs-6 text-primary"></i> {{ nombreusuario }}
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>

       
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>




