<body>
<div class="container">
    <div class="card">
      <h2>¡¡Actualiza tus datos!!</h2>
      <form>
        <label>Nombre viejo</label>
        <input type="text" >
  
        <label>Nombre nuevo</label>
        <input type="text">
  
        <label>Correo viejo</label>
        <input type="email" >
  
        <label>Correo nuevo</label>
        <input type="email">
  
        <label>Contraseña vieja</label>
        <input type="password" >
  
        <label>Contraseña nueva</label>
        <input type="password">
  
        <button type="submit">Actualizar</button>
      </form>
    </div>
  </div>
</body>
  