.container {
  max-width: 400px;
}

h2 {
  font-weight: bold;
}

form {
  background: white;
  border-radius: 10px;
}

button {
  transition: 0.3s;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}
/* Centrar el formulario y bajarlo un poco */
.container-form {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Ocupa toda la pantalla */
  padding-top: 100px; /* Baja el formulario para que no lo tape el navbar */
}

/* Estilo del formulario */
.form-card {
  width: 100%;
  max-width: 400px; /* Ajusta el ancho del formulario */
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
